[submodule "Web/Client/ace-builds"]
	path = Web/Client/ace-builds
	url = https://github.com/ajaxorg/ace-builds.git
[submodule "Web/Client/w2ui"]
	path = Web/Client/w2ui
	url = https://github.com/vitmalina/w2ui.git
[submodule "Web/Client/stats.js"]
	path = Web/Client/stats.js
	url = https://github.com/mrdoob/stats.js.git
[submodule "Web/Client/three.js"]
	path = Web/Client/three.js
	url = https://github.com/mrdoob/three.js/
