[build-system]
requires = [
    "setuptools>=42",
    "wheel",
    "numpy"
]
build-backend = "setuptools.build_meta"

[tool.cibuildwheel.macos]
repair-wheel-command = [
  "DYLD_LIBRARY_PATH=/usr/local/lib delocate-listdeps {wheel}",
  "DYLD_LIBRARY_PATH=/usr/local/lib delocate-wheel --require-archs {delocate_archs} -w {dest_dir} {wheel}",
]

[tool.cibuildwheel.linux]
before-all = ["yum clean all",
              "yum install -y glpk glpk-devel mesa-libGLU-devel git",
              "pip install cmake",
              "git checkout cibuildwheel",
              "cd ../Cpp/Dependencies",
              "make unpack-deps",
              "git clone https://github.com/assimp/assimp.git",
              "cd assimp",
              "cmake . && make -j 8 && make install",
              "cd ..",
              "cd glew-2.0.0",
              "make -j && make install",
              "cd ..",
              "make dep-tinyxml && make dep-ode",
              "cd KrisLibrary",
              "git checkout devel",
              "cmake . -DC11_ENABLED=ON -DUSE_GLUT=OFF -DUSE_GLUI=OFF  && make -j",
              "cd ../../../",
              "cmake . && make -j Klampt",
              "cd Python"]
